# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
