:root {
    --background-color: #dfe1e8;
    --primary-purple: #b0b6cf;
    --primary-color: #f2f2f2;
    --primary-white: #ffffff;
    --primary-black: #000000;
    --primary-honeydew: #f0fff0;
    --text-white: #fffafa;
    --text-black: #272727;
    --secondary-purple: #bbaaca;
}
