.container {
    width: 100%;
    height: 100%;
}

.home {
    display: inline-flex;
    max-width: 97%;
    margin: 20px auto 0 auto;
    align-items: center;
}

.first-frame-container {
    position: relative;
    overflow: hidden;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    padding-top: 100px;
    width: 100%;
}

.home-first-frame {
    height: 600px;
    background-image: url("/images/Opener.jpg");
}

.about-first-frame {
    height: 400px;
    background-image: url("/images/1-5.jpeg");
}

.dance-first-frame {
    height: 400px;
    background-image: url("/images/1-7.jpeg");
}

.choreography-first-frame {
    height: 400px;
    background-image: url("/images/1-8.jpeg");
}

.gallery-first-frame {
    height: 400px;
    background-image: url("/images/1-4.jpeg");
}

.philosophy-first-frame {
    height: 200px;
}

.cards {
    padding-top: 90px;
    padding-bottom: 50px;
    display: inline-flex;
}

.cards > a {
    margin: auto 20px;
}

.intro {
    max-width: 580px;
    padding: 10px;
    width: 92%;
    margin: auto 50px auto;
    font-size: 16px;
    text-align: left;
    float: left;
    color: var(--text-white);
}
.videos {
    padding-bottom: 50px;
}
.video {
    height: 390px;
    width: 640px;
    margin-top: 30px;
}

.swirly {
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 2013px;
    height: 172px;
    margin-left: -1007px;
}

.header {
    font-size: 40px;
    color: var(--text-white);
}
.hold-header {
    margin-top: 90px;
    margin-right: 280px;
}

.bio-container {
    max-width: 550px;
    line-height: 1.9em;
    text-align: left;
    margin-top: -10px;
}
.bio-container > h1 {
    font-size: 40px;
    font-family: "Coronetscript", cursive;
    color: var(--text-white);
}
.bio-container > div {
    font-size: 19px;
    color: var(--text-black);
}

.resume {
    max-width: 800px;
    line-height: 1.4em;
    text-align: center;
    margin: 40px auto;
    padding-top: 40px;
}
.resume > h1 {
    font-size: 40px;
    color: var(--text-black);
}
.resume > img {
    height: 900px;
}
.upon-request {
    max-width: 470px;
    width: 92%;
    margin: 20px auto;
}

.contact-form {
    display: inline-flex;
    flex-wrap: wrap-reverse;
}
.contact-header {
    padding-bottom: 25px;
    font-size: 22px;
}

.contact-social-links {
    margin-top: 15px;
}

.contact-form > div > img {
    height: 400px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 20px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.contact-form > div {
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.text-field {
    display: flex !important;
    margin: 20px auto !important;
    width: 300px;
    max-width: 300px;
}

.form-button-container {
    cursor: pointer;
    margin: 20px auto;
}
.form-button {
    background-color: var(--primary-purple) !important;
    color: var(--text-white) !important;
}

.text-field-multiline {
    width: 300px;
    max-width: 300px;
}

.contact {
    font-size: 26px;
    color: var(--text-black);
    display: block;
}
.contact > div {
    margin: auto;
}
.contact > img {
    height: 400px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 20px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 40px auto;
}
.contact > div > div:not(:first-child) {
    margin-top: 20px;
}
.upcoming-events {
    margin: 60px auto;
    width: 91%;
}
.upcoming-events > div {
    max-width: 550px;
    font-size: 14px;
    line-height: 1.3em;
    text-align: center;
    padding: 30px;
    margin: auto;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.upcoming-events > div > div {
    font-size: 22px;
    padding-bottom: 10px;
}
.upcoming-events > div > p > div {
    font-size: 18px;
}

.philosophy-quote {
    max-width: 550px;
    margin: auto;
    padding-bottom: 40px;
    text-align: left;
    font-size: 16px;
}
.teaching {
    max-width: 650px;
    margin: 0 auto 40px auto;
    padding: 25px;
    width: 92%;
    text-align: left;
    font-size: 16px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
}
.teaching > div {
    text-align: center;
    font-size: 26px;
}
.philosophy {
    display: inline-flex;
    max-width: 97%;
    margin: 10px auto 0 auto;
    align-items: center;
}
.philosophy > div {
    max-width: 550px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: left;
    padding: 30px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.philosophy > div > div {
    text-align: center;
    font-size: 26px;
}
.philosophy > img {
    margin-left: 100px;
    height: 530px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.philosphy > span {
}
.philosophy > span > img {
    margin-left: 100px;
    height: 530px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.philosophy > span > div {
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
}
.philosophy > span > div > a {
    background: var(--primary-purple);
    color: var(--text-white);
    padding: 12px 30px;
}
.philosophy-reverse {
    display: inline-flex;
    max-width: 97%;
    margin: 10px auto 50px auto;
    align-items: center;
}
.philosophy-reverse > div > div {
    max-width: 550px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: left;
    padding: 30px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.philosophy-reverse > div > div > div {
    text-align: center;
    font-size: 26px;
}
.philosophy-reverse > img {
    margin-right: 80px;
    height: 430px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.gallery {
    display: block;
}
.gallery-row {
    margin-bottom: 50px;
}
.gallery-image-container {
    display: inline-flex;
    flex-wrap: wrap;
}
.gallery-image {
    height: 250px;
    margin: 15px 25px;
    cursor: pointer;
}
.gallery-image:hover {
    box-shadow: 0px 0px 10px 5px #676767;
    -moz-box-shadow: 0px 0px 10px 5px #676767;
    -webkit-box-shadow: 0px 0px 10px 5px #676767;
}

.gallery-dialog {
    margin: auto;
}
.gallery-dialog-img {
    width: 100%;
}
.gallery-dialog-description {
    padding: 10px;
    width: inherit;
    background-color: var(--background-color);
}

.button-container {
    margin-top: 25px;
}
.button {
    background-color: var(--primary-purple) !important;
    color: var(--text-white) !important;
}

.images-container {
    margin: auto auto auto 100px;
    width: 333px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.image {
    height: 500px;
    overflow-x: hidden;
}

@media only screen and (min-width: 1700px) {
    .home-first-frame {
        height: 700px;
    }
}

@media only screen and (max-width: 950px) {
    .philosophy-reverse {
        display: block;
        text-align: center;
    }
    .philosophy-reverse > div > div {
        margin: auto;
        max-width: 91%;
        font-size: 14px;
        padding: 20px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 20px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .philosophy-reverse > div > div > div {
        font-size: 22px;
    }
    .philosophy-reverse > img {
        margin-right: 0;
        margin-top: 40px;
        height: 330px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 20px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .philosophy {
        display: block;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    .philosophy > div {
        margin: auto;
        max-width: 91%;
        font-size: 14px;
        padding: 20px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 20px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .philosophy > div > div {
        font-size: 22px;
    }
    .teaching > div {
        font-size: 22px;
    }
    .contact-header {
        font-size: 20px;
    }
    .philosophy > img {
        margin-left: 0;
        margin-top: 40px;
        height: 430px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 20px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .philosphy > span {
    }
    .philosophy > span > img {
        margin-left: 0;
        margin-top: 40px;
        height: 430px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 20px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .philosophy > span > div {
        margin-left: 0px;
        margin-top: 20px;
    }
    .philosophy > span > div > a {
        padding: 8px 24px;
    }
    .bio-container {
        max-width: 450px;
    }
    .bio-container > h1 {
        font-size: 34px;
    }
    .bio-container > div {
        font-size: 17px;
    }
    .home-first-frame {
        background-image: url("/images/Opener-mobile.jpg");
    }

    .about-first-frame {
        background-image: url("/images/1-5-mobile.jpeg");
    }

    .dance-first-frame {
        background-image: url("/images/1-7-mobile.jpeg");
    }

    .choreography-first-frame {
        background-image: url("/images/1-8-mobile.jpeg");
    }

    .hold-header {
        margin-top: 30px;
        margin-right: auto;
    }
}

@media only screen and (max-width: 870px) {
    .home {
        display: block;
        margin: 40px auto 0 auto;
    }
    .bio-container {
        line-height: 1.4em;
        margin: -10px auto 0 auto;
        width: 92%;
    }
    .bio-container > h1 {
        font-size: 30px;
    }
    .bio-container > div {
        font-size: 17px;
    }
    .images-container {
        margin: 40px auto;
        text-align: center;
        width: 280px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 25px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
    .image {
        height: 420.42px;
        overflow-x: hidden;
    }
    .cards {
        padding-top: 0;
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .resume > h1 {
        font-size: 30px;
    }
    .resume > img {
        height: 700px;
    }
    .upcoming-events > div {
        font-size: 12px;
        padding: 20px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 20px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .upcoming-events > div > div {
        font-size: 20px;
        padding-bottom: 7px;
    }
    .upcoming-events > div > p > div {
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
    .intro {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .video {
        height: 274.22px;
        width: 450px;
    }
    .contact {
        font-size: 20px;
    }
    .gallery-dialog {
        max-width: 450px;
    }
    .home-first-frame {
        height: 330px;
    }
}

@media only screen and (max-width: 500px) {
    .bio-container > h1 {
        font-size: 26px;
    }
    .bio-container > div {
        font-size: 13px;
    }
    .resume > h1 {
        font-size: 26px;
    }
    .resume > img {
        height: 500px;
    }
    .video {
        height: 176.72px;
        width: 290px;
    }
    .contact {
        font-size: 18px;
    }
    .philosophy-reverse > div > div {
        font-size: 12px;
        padding: 10px;
    }
    .philosophy-reverse > div > div > div {
        font-size: 20px;
    }
    .philosophy > div {
        font-size: 12px;
        padding: 10px;
    }
    .philosophy > div > div {
        font-size: 20px;
    }
    .teaching > div {
        font-size: 20px;
    }
    .contact-header {
        font-size: 18px;
    }
    .philosophy > img {
        height: 330px;
        margin-top: 25px;
    }
    .philosophy > span > img {
        height: 330px;
        margin-top: 25px;
    }

    .philosophy > span > div > a {
        padding: 6px 20px;
    }
    .gallery-dialog {
        max-width: 300px;
    }
}
