.footer {
    position: relative;
    z-index: 1000;
    height: 150px;
    background-color: var(--background-color);
    color: var(--text-black);
}

.footer-logo {
    vertical-align: top;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 26px;
    display: inline-block;
}

.footer-text {
    margin-top: 15px;
    margin-left: 60px;
    display: inline-block;
}
.footer-text > div {
    margin-top: 10px;
}
.footer-text > div:hover {
    text-decoration: underline;
}

.footer-links {
    margin-top: 10px;
}

.footer-button {
    display: inline-block;
    float: right;
    padding-right: 60px;
    margin-top: 60px;
}
.footer-button > a {
    background: var(--primary-yellow);
    color: var(--text-white);
}

.top-shadow {
    width: 100%;
    overflow-y: hidden;
    padding: 0 0 10px;
}
.top-shadow > div {
    width: 100%;
    box-shadow: 0px 0px 6px 3px #676767;
    -moz-box-shadow: 0px 0px 6px 3px #676767;
    -webkit-box-shadow: 0px 0px 6px 3px #676767;
}

@media only screen and (max-width: 950px) {
    .footer-button {
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .footer-logo {
        margin-left: 30px;
    }
    .footer-text {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 620px) {
    .footer {
        height: 330px;
    }
}
@media only screen and (max-width: 600px) {
    .footer-logo {
        margin-left: 30px;
    }
    .footer-text {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 400px) {
    .footer {
        height: 330px;
    }
}
