body {
    min-width: 300px;
}

.App {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    position: relative;
    background-color: var(--background-color);
    padding-bottom: 50px;
}
